
*{
  box-sizing: border-box;
}

body {
  font-family: verdana;
  margin: 0;
}

.navbar {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li.pull-right{
  float: right;
}

.navbar a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:verdana;
}

.navbar a:hover {
  background-color: #111;
}

.active {
  background-color: darkred;
}

h1 {
  text-align: center;
  color: darkred;
  font-family: verdana;
}

.main {
  flex: 70%;
  backround-color: white;
  padding: 20px;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  border-left: 5px;
  border-width: medium;
  border-left-style: solid;
  border-left-color: darkred;
}

img.main_pics {
  height: 400px;
  weidth: 700px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

img.hockey_me {
  height:235px;
  width:250px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

img.side-pic{
  height: 210px;
  width: 300px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.row {
  display: flex;
  felx-wrap: wrap;
}
